<%= render "header" %>

<div class="alert alert-warning alert-dismissible fade show" role="alert">
<div class="container">
  <strong><%= @flames.yourname %></strong> and <strong><%= @flames.crushname %></strong> Your relationship is <strong><%= @flames.result %></strong>  
</div>
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
